:root {
  --primary-color: #3D6EF7;
  --secondary-color: #6c757d;
  --purple: #6f42c1;
  --white: #fff;
  --orange: #FF6651;
  --red: #dc3545;
  --yellow: #ffc107;

}

html {
  box-sizing: border-box;
  font-size: 62.5%
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

/* .images {
  width: 100%;
  height: 100vh;
  object-fit: cover;
} */

/* Hình nền với linear-gradient và chữ với linear-gradient */
/* .box-gradient {
  width: 20rem;
  height: 20rem;
  background-image: linear-gradient(to left top, #3D6EF7, #FF6651);
} */

.title {
  margin-top: 2rem;
  margin-left: 2rem;
  font-size: 7.2rem;
  font-weight: normal;
  display: inline-block;
  /* Khi trình duyệt không hỗ trợ thuộc tính  -webkit-background-clip: text;*/
  /* color: #3D6EF7; */
}


/* Khi trình duyệt hỗ trợ thuộc tính thì ta sử dụng @support */
@supports (-webkit-background-clip: text) {
  .title {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  }
}

/* Khi trình duyệt không hỗ trợ thì thêm @support not và thay đổi thuộc tính mà mình muốn lại ở trên className gốc*/
/* @supports not (-webkit-background-clip: text) {
  .title {
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: linear-gradient(90deg, rgba(131, 58, 180, 1) 0%, rgba(253, 29, 29, 1) 50%, rgba(252, 176, 69, 1) 100%);
  }
} */

/* Hiển thị 2 hình nèn vởi linear-gradient */
.background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(to right, rgba(33, 147, 176, 0.5), rgba(109, 213, 237, 0.63)),
    url("./images/poster_1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: cover;
}

/* Opacity:0, visibility: hidden, display:none */
/* 
  + Opacity có giá trị chạy từ 0 đến 1 -> vẫn chiếm diện tích có thế nhấn vào được
  +visibility: hidden ->vẫn chiếm diện tích nhưng không thể nhấn vào được
  =>Opacity và visibility: thường được sử dụng để làm hiệu ứng vì chùng sử dụng được transition
  + display: không chiếm diện tích và cũng không nhấn vào được, ít sử dụng vì không hỗ trợ thuộc tính transition
  */
/* .box {
  width: 20rem;
  height: 20rem;
  background-image: linear-gradient(to left top, #3D6EF7, #FF6651);
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  display: none;
} */
.box-shadow {
  width: 20rem;
  height: 20rem;
  margin: 5rem auto;
  background-color: var(--c-pink);
  border-radius: 0.5rem;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px,
    rgba(240, 46, 170, 0.3) -10px 10px,
    rgba(240, 46, 170, 0.2) -15px 15px,
    rgba(240, 46, 170, 0.1) -20px 20px,
    rgba(240, 46, 170, 0.05) -25px 25px;
}

.text-shadow {
  font-size: 5rem;
  font-weight: bold;
  line-height: inherit;
  color: #202c2d;
  background: #FFFFFF;
  text-shadow: 0 1px #808d93,
    -1px 0 #cdd2d5,
    -1px 2px #808d93,
    -2px 1px #cdd2d5,
    -2px 3px #808d93,
    -3px 2px #cdd2d5,
    -3px 4px #808d93,
    -4px 3px #cdd2d5,
    -4px 5px #808d93,
    -5px 4px #cdd2d5,
    -5px 6px #808d93,
    -6px 5px #cdd2d5,
    -6px 7px #808d93,
    -7px 6px #cdd2d5,
    -7px 8px #808d93,
    -8px 7px #cdd2d5;
}